<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98528813184-rmdvadjrs31ejr65a6ua4jro2p6hts4m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98528813184-rmdvadjrs31ejr65a6ua4jro2p6hts4m</string>
	<key>API_KEY</key>
	<string>AIzaSyChILpf5Wn9HkiGt6u2qHY86bmo1xSj0rc</string>
	<key>GCM_SENDER_ID</key>
	<string>98528813184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sky.Trafel</string>
	<key>PROJECT_ID</key>
	<string>trafel-172e2</string>
	<key>STORAGE_BUCKET</key>
	<string>trafel-172e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98528813184:ios:d4bb7b45b3947535030665</string>
</dict>
</plist>